*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    background-color: #0A22F4;
}
.navbar ul{
    display: flex;
    gap: 18px;
    list-style: none;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-title{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 270px;
}
.navbar a{
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    text-decoration-line: none;
}
 /*boxes section*/
 .boxes{
    display: flex;
    justify-content: space-evenly;
 }
 .box {
    width: 150px;
    height: 150px;
    background-color: red;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
 }
 .box:nth-child(1){
    background-color: whitesmoke;
 }
 .box:nth-child(2){
    background-color: blue;
 }
 .box:nth-child(3){
    background-color: whitesmoke;
 }
.articles-wraper{
    display: flex;
    gap: 25px;
    padding-left: 270px;
    padding-top: 25px;
    padding-bottom: 25px;
}
article p {
    padding-top: 25px;
}

